/* .text-container-1 {
  width: 600px;
  background-color: green;
  margin: 50px auto;
  padding: 150px 50px;
  border-radius: 10px;
}
h1 {
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}
p {
  margin-bottom: 30px;
}
.btn {
  border: none;
  background-color: white;
  font-size: 30px;
  border-radius: 100px;
  padding: 10px 20px;
} */

/* .text-container-2 {
  width: 600px;
  margin: 50px auto;
  padding: 30px 0;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.wrapper {
  padding-left: 50px;
}
.user-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 50px;
  padding: 20px;
}
hr {
  padding: 0;
  border: 0.5px solid lightgray;
  width: 600px;
}

.bottom-text {
  margin-top: 40px;
  color: blue;
  margin-bottom: 10px;
  font-size: 24px;
  margin-left: 50px;
} */
/* 
.card-container {
  width: 400px;
  border: 2px solid lightgray;
  border-radius: 20px;
  margin: 100px auto;
}
.top-text {
  text-transform: uppercase;
  color: gray;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.wrapper {
  padding: 30px 20px;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}
p {
  color: slategray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 30px;
}
.btn {
  padding: 10px 30px;
  color: blue;
  border: 2px solid lightgray;
  border-radius: 5px;
} */

/* .login-container {
  text-align: center;
  width: 400px;
  margin: 100px auto;
}

input {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 30px;
}
.btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}
.bottom-text,
p {
  color: gray;
  font-size: 12px;
}
span {
  text-decoration: underline;
  cursor: pointer;
}
strong {
  text-decoration: underline;
  color: black;
  cursor: pointer;
} */

/* .food-card {
  width: 600px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 20px;
  margin: 100px auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  border-radius: 20px;
}
.text1 {
  position: absolute;
  top: 20px;
  left: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid lightgray;
  color: white;
  padding: 2px;
  border-radius: 4px;
}
.text2 {
  position: absolute;
  bottom: 20px;
  background-color: rgb(0, 149, 255);

  color: white;
  padding: 4px;
  border-radius: 4px;
  font-size: 22px;
}
.text3 {
  position: absolute;
  right: 10px;
  bottom: 20px;
  background-color: white;

  color: black;
  padding: 4px;
  border-radius: 4px;
}

hr {
  border: 1px solid lightgray;
}

.food-desc p {
  text-transform: uppercase;
  font-size: 22px;
  color: gray;
}

.bottom-text {
  display: flex;
  align-items: center;
}
.bottom-text img {
  width: 25%;
  height: 10%;
  border-radius: 10px;
  object-fit: cover;
}
.bottom-text p {
  margin-left: 15px;
  font-size: 24px;
  color: gray;
} */

.card {
  width: 900px;
  height: 400px;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-image: url('https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: 100% 100%;
  transform: rotate(0deg);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 250px auto;
}

.card-container {
  margin-top: 150px;
}
h1 {
  font-weight: 900;
  font-style: italic;
  font-size: 45px;
}

p {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}
input {
  width: 300px;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
}

.search-icon {
  position: absolute;
  left: 0;
}
.search-icon {
  position: absolute;
  left: 300px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: cover;
}
